.chart {
    grid-area: chart;
    border: 1px solid #4D4D4D;
    background: #282C31;
    border-radius: 13px;
    padding: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__content{
        display: flex;
        justify-content: space-between;
        &-title {
            font-family: Open Sans;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            color: #CACACA;
            margin: 0;
        }
        &-checkbox {
            display: flex;
        }
    }
}
.chart__content-label {
    display: flex;
    justify-content: start;
}
.checkbox__input {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}
.checkbox-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #CACACA;
    margin-left: 5px;
}